*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Saira', sans-serif;
    background-color: #f5f5f5;
}

.logo img{
    width: 200px;
    height: 50px;
    object-fit: fill;
}
header{
    background-color: #ccc;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

main{
    background-color: #f8f8f8;
    width: 80%;
    margin: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.intro{
    text-align: center;
    padding: 1em;
    font-size: 20px;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid #ccc;
}
.questions-lead{
    padding-top: 25px;
    padding-bottom: 50px;
}

 .questions-lead h1{
    padding-bottom: 20px;
    font-size: 45px;
    color: #006694;
}
.text-lead{
    padding-top: 10px;
}

.exercise{
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: auto;
    padding-top: 60px;
}
.choose  p{
    font-size: 20px;
}

footer{
    background-color: #006694;
    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 30px auto;
}

#app{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding-top: 50px;
}

.question-box{
    margin-bottom: 20px; 
    padding: 30px; 
    background: #f9f9f9; 
    border-radius: 8px; 
    border: 1px solid #ddd;
    font-size: medium;
}

.options button{
    display: block; 
    width: 100%; 
    margin: 8px 0; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background: #e0e7ff; cursor: pointer; 
    font-size: 16px; 
    transition: 0.2s;
}

.options button:hover{
    background: #c7d2fe;
}

.options button.selected{
    background: #6366f1; color: #fff;
}

#confirmBtn{
    width: 100%; 
    padding: 12px; 
    background: #006694; 
    color: white; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px; 
}

#confirmBtn:hover{
    background-color: #0275af;
}



#progress, #score-box{
    margin-top: 15px; 
    font-weight: bold; 
    color: #374151;
}

.section-btn{
    margin: 10px 5px; 
    padding: 8px 12px; 
    cursor: pointer; 
    border-radius: 5px; 
    border: none; 
    background: #006694; 
    color: #fff; 
    transition: 0.2s; 
    font-family: 'Saira', sans-serif;
}
#section-title {
    font-size: medium;
}

.section-btn:hover{
    background-color: #0275af;
}

#nextBtn , #restartBtn{
    width: 100%; 
    padding: 12px; 
    background: #006694; 
    color: white; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px; 
}
#nextBtn:hover, #restartBtn:hover{
    background-color: #0275af;
}

    .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    }

    .modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    }

    .modal input {
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    }

    .modal button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    }